# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log

# Env
.env
.env.local
.env.development
.env.production

# IDEs
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db

# Optional cache folders
.cache/
.